<div class="panel panel-default">
  <div class="panel-body">
  	<h2><%= article.title %>
      <br>
      <small>Posted On: <%= article.created_at.strftime("%Y-%m-%d")%></small>
    </h2>
  	<p><%= article.summary %></p>
  	<% unless article.tag_list.empty? %>
    <p>Tagged: <%= article.tag_list.join(' ') %></p>
    <% end %>
    <div class="btn-group pull-right" role="group">
      <%= link_to 'Show', article, class: "btn btn-default" %>
    </div>
  </div>
    <% if article.author or article.source %>
  <div class="panel-footer">Source: <%= article.source %></div>
  <% end %>
</div>
